<div class="tab" style="/*background-image: url(/img_newsletter/langues.jpg); background-size: cover;*/">
    <hr id="langueP" class="">
    <div class="styleCard">
        <fieldset>
            {#{ form_row(formInscription.langueParle) }#}<br>
            {% do formInscription.langueParle.setRendered %}

            <div id="langues">
                <label>Quelle(s) langue(s) parlez-vous couramment ? </label>
                <div id="App_inscription_langueParle" class="langue" style="
    ">
                    <div class="d_flex" id="d_flex">
                        <input type="checkbox" id="App_inscription_langueParle_0 alignInputLabel" name="App_inscription[langueParle][]"
                               value="825">
                        <label for="App_inscription_langueParle_0">Allemand</label>

                    </div>


                    <div class="d_flex" id="d_flex">
                        <input type="checkbox"
                               id="App_inscription_langueParle_1"
                               name="App_inscription[langueParle][]"
                               value="823">
                        <label
                                for="App_inscription_langueParle_1">Anglais</label>

                    </div>

                    <div class="d_flex" id="d_flex">
                        <input type="checkbox"
                               id="App_inscription_langueParle_2"
                               name="App_inscription[langueParle][]"
                               value="830">
                        <label
                                for="App_inscription_langueParle_2">Arabe</label>
                    </div>

                    <div class="d_flex" id="d_flex">
                        <input type="checkbox"
                               id="App_inscription_langueParle_3"
                               name="App_inscription[langueParle][]"
                               value="824"><label
                                for="App_inscription_langueParle_3">Espagnol</label>
                    </div>

                    <div class="d_flex" id="d_flex">

                        <input type="checkbox"
                               id="App_inscription_langueParle_4"
                               name="App_inscription[langueParle][]"
                               value="829"><label
                                for="App_inscription_langueParle_4">Hindi</label>
                    </div>
                    <div class="d_flex" id="d_flex">
                        <input type="checkbox"
                               id="App_inscription_langueParle_5"
                               name="App_inscription[langueParle][]"
                               value="827"><label
                                for="App_inscription_langueParle_5">Italien</label>
                    </div>

                    <div class="d_flex" id="d_flex">
                        <input type="checkbox"
                               id="App_inscription_langueParle_6"
                               name="App_inscription[langueParle][]"
                               value="828"><label
                                for="App_inscription_langueParle_6">Mandarin (chinois)</label>
                    </div>
                    <div class="d_flex" id="d_flex">
                        <input
                                type="checkbox" id="App_inscription_langueParle_7"
                                name="App_inscription[langueParle][]" value="826"><label
                                for="App_inscription_langueParle_7">Portugais</label>
                    </div>
                    <div class="d_flex" id="d_flex">
                        <input type="checkbox"
                               id="App_inscription_langueParle_8"
                               name="App_inscription[langueParle][]"
                               value="831"><label
                                for="App_inscription_langueParle_8">Russe</label>
                    </div>

                    <div class="d_flex" id="d_flex">
                        <input type="checkbox"
                               id="App_inscription_langueParle_9"
                               name="App_inscription[langueParle][]"
                               value="Aucune"><label
                                for="App_inscription_langueParle_9">Aucune des ces langues</label>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<div class="tab">
    <hr id="carnation" class="">
    <div class="styleCard">
        <fieldset>
            <h3 class="fs-subtitle"></h3>
            <div class="col">
                {{ form_row(formInscription.origin) }}
            </div>
            <div class="col">
                {{ form_row(formInscription.typePeau) }}
            </div>
            <div class="col">
                {{ form_row(formInscription.couleurPeau) }}
            </div>
            <div class="col">
                {{ form_row(formInscription.corpAuSoleil) }}
            </div>
        </fieldset>
    </div>
</div>

<div class="tab">
    <hr id="carVisageMauillage" class="">
    <div class="styleCard">
        <fieldset>
            <h3 class="fs-subtitle"></h3>
            <div class="col">
                {{ form_row(formInscription.peauVisage) }}
            </div>

            <div class="col" style="text-align: -webkit-center">
                <label>Avez-vous la peau du visage sensible ? *</label>
                </br>Avez-vous la peau du visage réactive ? *

                <span style="font-size: 13px; padding: 0px; font-style: italic">
                        Une peau inconfortable qui, au moindre contact avec des facteurs extérieurs, démange, rougit, chauffe, tiraille.
                    </span>
                {{ form_row(formInscription.peauVisageSinsible) }}
            </div>

            <div class="col" style="text-align: -webkit-center">
                <label>Avez-vous la peau du visage intolérante ? *</label>
                </br>
                <span style="font-size: 13px; padding: 0px; font-style: italic">
                        Peau vulnérable aux agressions extérieures caractérisée par un inconfort quotidien et une très forte irritabilité. Elle présente des rougeurs, picotements. Elle tire, chauffe ou démange et peut également procurer des sensations de brûlure.
                    </span>
                {% do formInscription.visageIntolerante.setRendered %}

                <div id="App_inscription_visageIntolerante" class="deo" style="text-align: -webkit-center">

                    <input
                            type="radio" id="App_inscription_visageIntolerante_0"
                            name="App_inscription[visageIntolerante]" value="1" required><label
                            for="App_inscription_visageIntolerante_0">Oui</label>
                    <input type="radio"
                           id="App_inscription_visageIntolerante_1"
                           name="App_inscription[visageIntolerante]"
                           value="3" required>
                    <label
                            for="App_inscription_visageIntolerante_1">Non</label>
                </div>
            </div>

            <div class="col" style="text-align: -webkit-center; margin-bottom: 10px">
                <label>Avez-vous la peau du visage réactive ? *</label>
                </br>
                <span style="font-size: 13px; padding: 0px; font-style: italic">
                            Peau ultrasensible, irritable, intolérante à presque tous les produits cosmétiques et même à
                            l’eau. Elle est vulnérable aux facteurs internes et/ou externes, aux fortes émotions et aux
                            hormones. Elle peut devenir insupportable.
                        </span>
                {{ form_row(formInscription.peauVisageReactive) }}

                {% do formInscription.autreCaracteristiqueVRides.setRendered %}
                {% do formInscription.autreCaracteristiqueVRidules.setRendered %}
                {% do formInscription.autreCaracteristiqueVPerte.setRendered %}
                {% do formInscription.autreCaracteristiqueVTeint.setRendered %}
                {% do formInscription.autreCaracteristiqueVRougeurs.setRendered %}
                {% do formInscription.autreCaracteristiqueVCicatrices.setRendered %}
                {% do formInscription.autreCaracteristiqueVTaches.setRendered %}
                {% do formInscription.autreCaracteristiqueVAcne.setRendered %}
                {% do formInscription.autreCaracteristiqueVPoints.setRendered %}
                {% do formInscription.autreCaracteristiqueVEczema.setRendered %}
                {% do formInscription.autreCaracteristiqueVPeauAbi.setRendered %}
                {% do formInscription.autreCaracteristiqueVPores.setRendered %}
                {% do formInscription.autreCaracteristiqueVImperfections.setRendered %}
                {% do formInscription.autreCaracteristiqueVPeauF.setRendered %}
                {% do formInscription.autreCaracteristiqueVDes.setRendered %}

            </div>

            {#************Autre caracteristique du visave*************#}

            <div class="styleCard" style="width: 100% !important; margin: 0px !important">
                <table id="customers">
                    <tr>

                        <th>Autres caractéristiques du visage *</th>
                        <th class="textAlignCenter">Oui</th>
                        <th class="textAlignCenter">Non</th>
                    </tr>

                    <tr>
                        <td>
                            <label for="">Rides </label>
                        </td>
                        <td>
                            <input type="radio"
                                   id="App_inscription_autreCaracteristiqueVRides_0"
                                   name="App_inscription[autreCaracteristiqueVRides]"
                                   value="1" required>
                        </td>

                        <td>
                            <input type="radio"
                                   id="App_inscription_autreCaracteristiqueVRides_1"
                                   name="App_inscription[autreCaracteristiqueVRides]"
                                   value="3" required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="">Ridules </label>
                        </td>
                        <td>
                            <input type="radio"
                                   id="App_inscription_autreCaracteristiqueVRidules_0"
                                   name="App_inscription[autreCaracteristiqueVRidules]"
                                   value="1" required>
                        </td>

                        <td>
                            <input type="radio"
                                   id="App_inscription_autreCaracteristiqueVRidules_1"
                                   name="App_inscription[autreCaracteristiqueVRidules]"
                                   value="3" required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="">Perte de fermeté </label>
                        </td>
                        <td>
                            <input type="radio"
                                   id="App_inscription_autreCaracteristiqueVPerte_0"
                                   name="App_inscription[autreCaracteristiqueVPerte]"
                                   value="1" required>
                        </td>

                        <td>
                            <input type="radio"
                                   id="App_inscription_autreCaracteristiqueVPerte_1"
                                   name="App_inscription[autreCaracteristiqueVPerte]"
                                   value="3" required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="">Teint terne </label>
                        </td>
                        <td>
                            <input type="radio"
                                   id="App_inscription_autreCaracteristiqueVTeint_0"
                                   name="App_inscription[autreCaracteristiqueVTeint]"
                                   value="1" required>
                        </td>

                        <td>
                            <input type="radio"
                                   id="App_inscription_autreCaracteristiqueVTeint_1"
                                   name="App_inscription[autreCaracteristiqueVTeint]"
                                   value="3" required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="">Rougeurs </label>
                        </td>
                        <td>
                            <input type="radio"
                                   id="App_inscription_autreCaracteristiqueVRougeurs_0"
                                   name="App_inscription[autreCaracteristiqueVRougeurs]"
                                   value="1" required>
                        </td>

                        <td>
                            <input type="radio"
                                   id="App_inscription_autreCaracteristiqueVRougeurs_1"
                                   name="App_inscription[autreCaracteristiqueVRougeurs]"
                                   value="3" required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="">Cicatrices </label>
                        </td>
                        <td>
                            <input type="radio"
                                   id="App_inscription_autreCaracteristiqueVCicatrices_0"
                                   name="App_inscription[autreCaracteristiqueVCicatrices]"
                                   value="1" required>
                        </td>

                        <td>
                            <input type="radio"
                                   id="App_inscription_autreCaracteristiqueVCicatrices_1"
                                   name="App_inscription[autreCaracteristiqueVCicatrices]"
                                   value="3" required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="">Taches pigmentaires </label>
                        </td>
                        <td>
                            <input type="radio"
                                   id="App_inscription_autreCaracteristiqueVTaches_0"
                                   name="App_inscription[autreCaracteristiqueVTaches]"
                                   value="1" required>
                        </td>

                        <td>
                            <input type="radio"
                                   id="App_inscription_autreCaracteristiqueVTaches_1"
                                   name="App_inscription[autreCaracteristiqueVTaches]"
                                   value="3" required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="">Acné </label>
                        </td>
                        <td>
                            <input type="radio"
                                   id="App_inscription_autreCaracteristiqueVAcne_0"
                                   name="App_inscription[autreCaracteristiqueVAcne]"
                                   value="1" required>
                        </td>

                        <td>
                            <input
                                    type="radio" id="App_inscription_autreCaracteristiqueVAcne_1"
                                    name="App_inscription[autreCaracteristiqueVAcne]"
                                    value="3" required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="">Points noirs </label>
                        </td>
                        <td>
                            <input type="radio"
                                   id="App_inscription_autreCaracteristiqueVPoints_0"
                                   name="App_inscription[autreCaracteristiqueVPoints]"
                                   value="1" required>
                        </td>

                        <td>
                            <input type="radio"
                                   id="App_inscription_autreCaracteristiqueVPoints_1"
                                   name="App_inscription[autreCaracteristiqueVPoints]"
                                   value="3" required>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="">Eczéma </label>
                        </td>
                        <td>
                            <input type="radio"
                                   id="App_inscription_autreCaracteristiqueVEczema_0"
                                   name="App_inscription[autreCaracteristiqueVEczema]"
                                   value="1" required>
                        </td>

                        <td>
                            <input type="radio"
                                   id="App_inscription_autreCaracteristiqueVEczema_1"
                                   name="App_inscription[autreCaracteristiqueVEczema]"
                                   value="3" required>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="">Peau abîmée </label>
                        </td>
                        <td>
                            <input type="radio"
                                   id="App_inscription_autreCaracteristiqueVPeauAbi_0"
                                   name="App_inscription[autreCaracteristiqueVPeauAbi]"
                                   value="1" required>
                        </td>

                        <td>
                            <input type="radio"
                                   id="App_inscription_autreCaracteristiqueVPeauAbi_1"
                                   name="App_inscription[autreCaracteristiqueVPeauAbi]"
                                   value="3" required>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="">Pores dilatés </label>
                        </td>
                        <td>
                            <input type="radio"
                                   id="App_inscription_autreCaracteristiqueVPores_0"
                                   name="App_inscription[autreCaracteristiqueVPores]"
                                   value="1" required>
                        </td>

                        <td>
                            <input type="radio"
                                   id="App_inscription_autreCaracteristiqueVPores_1"
                                   name="App_inscription[autreCaracteristiqueVPores]"
                                   value="3" required>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="">Imperfections (boutons) </label>
                        </td>
                        <td>
                            <input type="radio"
                                   id="App_inscription_autreCaracteristiqueVImperfections_0"
                                   name="App_inscription[autreCaracteristiqueVImperfections]"
                                   value="1" required>
                        </td>

                        <td>
                            <input type="radio"
                                   id="App_inscription_autreCaracteristiqueVImperfections_1"
                                   name="App_inscription[autreCaracteristiqueVImperfections]"
                                   value="3" required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="">Peau fatiguée </label>
                        </td>
                        <td>
                            <input type="radio"
                                   id="App_inscription_autreCaracteristiqueVPeauF_0"
                                   name="App_inscription[autreCaracteristiqueVPeauF]"
                                   value="1" required>
                        </td>

                        <td>
                            <input type="radio"
                                   id="App_inscription_autreCaracteristiqueVPeauF_1"
                                   name="App_inscription[autreCaracteristiqueVPeauF]"
                                   value="3" required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="">Peau déshydratée </label>
                        </td>
                        <td>
                            <input type="radio"
                                   id="App_inscription_autreCaracteristiqueVDes_0"
                                   name="App_inscription[autreCaracteristiqueVDes]"
                                   value="1" required>
                        </td>
                        <td>
                            <input
                                    type="radio" id="App_inscription_autreCaracteristiqueVDes_1"
                                    name="App_inscription[autreCaracteristiqueVDes]"
                                    value="3" required>
                        </td>
                    </tr>
                </table>
            </div>

            {#************Nettoyage du visage****************#}

            {% do formInscription.gelNottyant.setRendered %}
            {% do formInscription.gelNottyantSpe.setRendered %}
            {% do formInscription.lotionNettoyant.setRendered %}
            {% do formInscription.gelExfoliant.setRendered %}
            {% do formInscription.savonDerma.setRendered %}
            <div style="margin-top: 10px">
                <table id="customers">
                    <tr>

                        <th>Type de nettoyant visage utilisé *</th>
                        <th class="textAlignCenter">Oui</th>
                        <th class="textAlignCenter">Non</th>
                    </tr>

                    <tr>
                        <td>
                            <label for="">Gel nettoyant </label>
                        </td>
                        <td>
                            <input type="radio"
                                   id="App_inscription_gelNottyant_0"
                                   name="App_inscription[gelNottyant]"
                                   value="1" required>
                        </td>

                        <td>
                            <input type="radio"
                                   id="App_inscription_gelNottyant_1"
                                   name="App_inscription[gelNottyant]"
                                   value="3" required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="">Gel nettoyant spécifique imperfections </label>
                        </td>
                        <td>
                            <input type="radio"
                                   id="App_inscription_gelNottyantSpe_0"
                                   name="App_inscription[gelNottyantSpe]"
                                   value="1" required>
                        </td>

                        <td>
                            <input
                                    type="radio" id="App_inscription_gelNottyantSpe_1"
                                    name="App_inscription[gelNottyantSpe]"
                                    value="3" required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="">Lotion nettoyante </label>
                        </td>
                        <td>
                            <input
                                    type="radio" id="App_inscription_lotionNettoyant_0"
                                    name="App_inscription[lotionNettoyant]"
                                    value="1" required>
                        </td>

                        <td>
                            <input type="radio"
                                   id="App_inscription_lotionNettoyant_1"
                                   name="App_inscription[lotionNettoyant]"
                                   value="3" required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="">Gel exfoliant doux nettoyant </label>
                        </td>
                        <td>
                            <input type="radio"
                                   id="App_inscription_gelExfoliant_0"
                                   name="App_inscription[gelExfoliant]"
                                   value="1" required>
                        </td>

                        <td>
                            <input type="radio"
                                   id="App_inscription_gelExfoliant_1"
                                   name="App_inscription[gelExfoliant]"
                                   value="3" required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="">Savon, pain dermatologique </label>
                        </td>
                        <td>
                            <input type="radio"
                                   id="App_inscription_savonDerma_0"
                                   name="App_inscription[savonDerma]"
                                   value="1" required>
                        </td>

                        <td>
                            <input type="radio"
                                   id="App_inscription_savonDerma_1"
                                   name="App_inscription[savonDerma]"
                                   value="3" required>
                        </td>
                    </tr>
                </table>

            </div>
            {#****************************#}

            <div class="col" style="margin-top: 10px">
                {{ form_row(formInscription.ouacheteSoinVisage) }}
            </div>


            <div class="col styleCard" style="width: 100% !important; margin: 0px !important; margin-top: 10px !important;">
                {% do formInscription.caracteristiqueYeuxS.setRendered %}
                {% do formInscription.caracteristiqueYeuxL.setRendered %}
                {% do formInscription.caracteristiqueYeuxC.setRendered %}
                {% do formInscription.caracteristiqueYeuxPoche.setRendered %}
                {% do formInscription.caracteristiqueYeuxPopiere.setRendered %}
                {% do formInscription.caracteristiqueYeuxGonfles.setRendered %}

                <table id="customers">
                    <tr>
                        <th>Caractéristiques des yeux *</th>
                        <th class="textAlignCenter">Oui</th>
                        <th class="textAlignCenter">Non</th>
                    </tr>

                    <tr>
                        <td>
                            <label for="">Yeux sensibles </label>
                        </td>
                        <td>
                            <input
                                    type="radio" id="App_inscription_caracteristiqueYeuxS_0"
                                    name="App_inscription[caracteristiqueYeuxS]"
                                    value="1" required>
                        </td>

                        <td>
                            <input type="radio"
                                   id="App_inscription_caracteristiqueYeuxS_1"
                                   name="App_inscription[caracteristiqueYeuxS]"
                                   value="3" required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="">Lentilles </label>
                        </td>
                        <td>
                            <input
                                    type="radio" id="App_inscription_caracteristiqueYeuxL_0"
                                    name="App_inscription[caracteristiqueYeuxL]"
                                    value="1" required>
                        </td>

                        <td>
                            <input type="radio"
                                   id="App_inscription_caracteristiqueYeuxL_1"
                                   name="App_inscription[caracteristiqueYeuxL]"
                                   value="3" required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="">Cernes </label>
                        </td>
                        <td>
                            <input
                                    type="radio" id="App_inscription_caracteristiqueYeuxC_0"
                                    name="App_inscription[caracteristiqueYeuxC]"
                                    value="1" required>
                        </td>

                        <td>
                            <input type="radio"
                                   id="App_inscription_caracteristiqueYeuxC_1"
                                   name="App_inscription[caracteristiqueYeuxC]"
                                   value="3" required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="">Poches </label>
                        </td>
                        <td>
                            <input type="radio" id="App_inscription_caracteristiqueYeuxPoche_0"
                                   name="App_inscription[caracteristiqueYeuxPoche]"
                                   value="1" required>
                        </td>

                        <td>
                            <input type="radio"
                                   id="App_inscription_caracteristiqueYeuxPoche_1"
                                   name="App_inscription[caracteristiqueYeuxPoche]"
                                   value="3" required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="">Paupières relâchées </label>
                        </td>
                        <td>
                            <input type="radio" id="App_inscription_caracteristiqueYeuxPopiere_0"
                                   name="App_inscription[caracteristiqueYeuxPopiere]"
                                   value="1" required>
                        </td>

                        <td>
                            <input type="radio"
                                   id="App_inscription_caracteristiqueYeuxPopiere_1"
                                   name="App_inscription[caracteristiqueYeuxPopiere]"
                                   value="3" required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="">Yeux gonflés </label>
                        </td>
                        <td>
                            <input type="radio" id="App_inscription_caracteristiqueYeuxGonfles_0"
                                   name="App_inscription[caracteristiqueYeuxGonfles]"
                                   value="1" required>
                        </td>

                        <td>
                            <input type="radio"
                                   id="App_inscription_caracteristiqueYeuxGonfles_1"
                                   name="App_inscription[caracteristiqueYeuxGonfles]"
                                   value="3" required>
                        </td>
                    </tr>
                </table>
            </div>

        </fieldset>
    </div>
</div>

<div class="tab">
    <hr id="derEsthetique" class="">
    <div class="styleCard">
        <fieldset>
            <h3 class="fs-subtitle"></h3>

            {#***********************#}

            <div class="col">
                <table id="customers">
                    <tr>

                        <th>Avez-vous déja eu recours à la dermatologie esthétique ? *</th>
                        <th class="textAlignCenter">Oui</th>
                        <th class="textAlignCenter">Non</th>
                    </tr>

                    <tr>
                        <td>
                            <label for="">Acide Hyaluronique</label>
                        </td>
                        <td>
                            <input type="radio" id="App_inscription_dermatologieEsthtiqueAcideH_0"
                                   name="App_inscription[dermatologieEsthtiqueAcideH]"
                                   value="1" required>
                        </td>

                        <td>
                            <input type="radio" id="App_inscription_dermatologieEsthtiqueAcideH_1"
                                   name="App_inscription[dermatologieEsthtiqueAcideH]"
                                   value="3" required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="">Botox</label>
                        </td>
                        <td>
                            <input type="radio" id="App_inscription_dermatologieEsthtiqueBotox_0"
                                   name="App_inscription[dermatologieEsthtiqueBotox]"
                                   value="1" required>
                        </td>

                        <td>
                            <input type="radio" id="App_inscription_dermatologieEsthtiqueBotox_1"
                                   name="App_inscription[dermatologieEsthtiqueBotox]"
                                   value="3" required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="">Laser</label>
                        </td>
                        <td>
                            <input type="radio" id="App_inscription_dermatologieEsthtiqueLaser_0"
                                   name="App_inscription[dermatologieEsthtiqueLaser]"
                                   value="1" required>
                        </td>

                        <td>
                            <input type="radio" id="App_inscription_dermatologieEsthtiqueLaser_1"
                                   name="App_inscription[dermatologieEsthtiqueLaser]"
                                   value="3" required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="">Mésothérapie</label>
                        </td>
                        <td>
                            <input type="radio" id="App_inscription_dermatologieEsthtiqueMesotherapie_0"
                                   name="App_inscription[dermatologieEsthtiqueMesotherapie]"
                                   value="1" required>
                        </td>

                        <td>
                            <input type="radio" id="App_inscription_dermatologieEsthtiqueMesotherapie_1"
                                   name="App_inscription[dermatologieEsthtiqueMesotherapie]"
                                   value="3" required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="">Peeling</label>
                        </td>
                        <td>
                            <input type="radio" id="App_inscription_dermatologieEsthtiquePeeling_0"
                                   name="App_inscription[dermatologieEsthtiquePeeling]"
                                   value="1" required>
                        </td>

                        <td>
                            <input type="radio" id="App_inscription_dermatologieEsthtiquePeeling_1"
                                   name="App_inscription[dermatologieEsthtiquePeeling]"
                                   value="3" required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="">Autre</label>
                        </td>
                        <td>
                            <input type="radio" id="App_inscription_dermatologieEsthtiqueAutre_0"
                                   name="App_inscription[dermatologieEsthtiqueAutre]"
                                   value="1" required>
                        </td>

                        <td>
                            <input type="radio" id="App_inscription_dermatologieEsthtiqueAutre_1"
                                   name="App_inscription[dermatologieEsthtiqueAutre]"
                                   value="3" required>
                        </td>
                    </tr>
                </table>
                {% do formInscription.dermatologieEsthtiqueAcideH.setRendered %}
                {% do formInscription.dermatologieEsthtiqueBotox.setRendered %}
                {% do formInscription.dermatologieEsthtiqueLaser.setRendered %}
                {% do formInscription.dermatologieEsthtiqueMesotherapie.setRendered %}
                {% do formInscription.dermatologieEsthtiquePeeling.setRendered %}
                {% do formInscription.dermatologieEsthtiqueAutre.setRendered %}
            </div>

        </fieldset>
    </div>
</div>

<div class="tab">
    <hr id="maquillage">
    <div class="styleCard">
        <fieldset>
            <div class="d_flex">
                <div class="col col-left">
                    {{ form_row(formInscription.maquillageTeint) }}
                </div>
                <div class="col classFemme ouAcheteMaquillage col-right">
                    {{ form_row(formInscription.ouAcheteMaquillage) }}
                </div>
            </div>

            <div class="d_flex">
                <div class="col left">
                    {{ form_row(formInscription.maquillageYeux) }}
                </div>
                <div class="col classFemme col-right">
                    {{ form_row(formInscription.maquillageLevre) }}
                </div>
            </div>
        </fieldset>
    </div>
</div>