{% extends 'Backend/_layout.html.twig' %}

{% block page_title %}
    <h3 class="page-title"> Catégories
        <small>ajout d'une catégorie</small>
    </h3>
{% endblock %}

{% block content %}
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject font-red-sunglo bold uppercase">Ajout</span>
            </div>
        </div>
        {{ include('/_widgets/flash_notifications.html.twig') }}

        <div class="portlet-body form">
            {{ form_start(form, {'attr' : {
                'class' : 'form-horizontal'
            }}) }}
                <div class="form-body">
                    <div class="form-group">
                        {{ form_label(form.name, null, {'label': 'name' |trans({}, 'bo_formlabel'), 'label_attr': {'class': 'col-md-2 control-label'}}) }}
                        <div class="col-md-10">
                            {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder' : 'Nom'}}) }}
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-4">
                            <button class="btn green" type="submit">Enregistrer</button>
                            <a class="btn default" href="{{ path('admin_category_index') }}">Retour</a>
                        </div>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
