{% extends 'base.html.twig' %}

{% block title %}PDeuxIns index{% endblock %}

{% block content %}
    {{ parent() }}
    <h1>PDeuxIns index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DomaineM</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for p_deux_in in p_deux_ins %}
            <tr>
                <td>{{ p_deux_in.id }}</td>
                <td>{{ p_deux_in.domaineM }}</td>
                <td>
                    <a href="{{ path('p_deux_ins_show', {'id': p_deux_in.id}) }}">show</a>
                    <a href="{{ path('p_deux_ins_edit', {'id': p_deux_in.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('p_deux_ins_new') }}">Create new</a>
{% endblock %}
