{% for focusMessage in focusMessages %}
    <div class="col-xs-12 with-margin-bottom">
        <div style="padding-left: {{ depth * 50}}px;" >
            {% if focusMessage.user %}
                <a href="{{ path('backend_user_show', {'id':focusMessage.user.id}) }}">
                    <span class="bold">
                        {{ focusMessage.user.firstname }} {{ focusMessage.user.lastname }}
                    </span>

                    #{{ focusMessage.user.idPaneliste }}
                </a>
            {% else %}
                <span class="font-red-intense font-lg sbold">Syres</span>
            {% endif %}

            <em>Le {{ focusMessage.createdAt | date('d/m/Y') }} à {{ focusMessage.createdAt | date('H\\hi') }}</em>
            <div {% if not focusMessage.visible %}class="invalid-focus-message"{% endif %} >{{ focusMessage.content }}</div>
            <a href="{{ path('backend_focusgroup_reply-message', {id: focusMessage.id}) }}">Répondre</a> - <a href="{{ path('backend_focusgroup_edit-message', {id: focusMessage.id}) }}">Editer</a> - <a href="#" class="delete-item" data-id="{{ focusMessage.id }}">Supprimer</a> - <a href="{{ path('backend_focusgroup_validate-message', {id: focusMessage.id}) }}" class="validate-item" data-id="{{ focusMessage.id }}">{% if focusMessage.visible %}Cacher{% else %}Valider{% endif %}</a>
        </div>
    </div>

    {% include "@App/Backend/FocusGroup/_message_tree.html.twig" with {
        'depth': depth + 1,
        'focusMessages': focusMessage.children
    } only %}
{% endfor %}