{% extends 'Backend/_layout.html.twig' %}

{% block page_title %}
    <h3 class="page-title"> Panélistes
        <small>édition d'un panéliste</small>
    </h3>
{% endblock %}
{% block stylesheet %}
    {{ parent() }}
    <style>
        #groupUser{
            overflow: scroll;
            height: 250px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject font-red-sunglo bold uppercase">Edition</span>
            </div>
            <div class="actions">
                {{ form_start(delete_form) }}
                    <button class="btn btn-circle btn-icon-only btn-default" type="submit">
                        <i class="icon-trash"></i>
                    </button>
                {{ form_end(delete_form) }}
            </div>
        </div>
        <div class="portlet-body form">
            {{ form_start(edit_form, {'attr' : {
                'class' : 'form-horizontal'
            }}) }}
                <div class="form-body">
                    <div class="form-group">
                        {{ form_label(edit_form.idPaneliste, null, {'label': 'ID Panéliste', 'label_attr': {'class': 'col-md-2 control-label'}}) }}
                        <div class="col-md-10">
                            {{ form_widget(edit_form.idPaneliste, {'attr': {'class': 'form-control', 'placeholder' : 'ID Panéliste'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.title, null, {'label': 'Titre', 'label_attr': {'class': 'col-md-2 control-label'}}) }}
                        <div class="col-md-10">
                            {{ form_widget(edit_form.title, {'attr': {'class': 'form-control', 'placeholder' : 'Titre (Monsieur / Madame)'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.lastname, null, {'label': 'name' |trans({}, 'bo_formlabel'), 'label_attr': {'class': 'col-md-2 control-label'}}) }}
                        <div class="col-md-10">
                            {{ form_widget(edit_form.lastname, {'attr': {'class': 'form-control', 'placeholder' : 'Nom'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.firstname, null, {'label': 'Prénom', 'label_attr': {'class': 'col-md-2 control-label'}}) }}
                        <div class="col-md-10">
                            {{ form_widget(edit_form.firstname, {'attr': {'class': 'form-control', 'placeholder' : 'Prénom'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.birthdate, null, {'label': 'Date de naissance', 'label_attr': {'class': 'col-md-2 control-label'}}) }}
                        <div class="col-md-10">
                            {{ form_widget(edit_form.birthdate, {'attr': {'class': 'form-control', 'placeholder' : 'Date de naissance (JJ/MM/AAAA)'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.email, null, {'label': 'Adresse email', 'label_attr': {'class': 'col-md-2 control-label'}}) }}
                        <div class="col-md-10">
                            {{ form_widget(edit_form.email, {'attr': {'class': 'form-control', 'placeholder' : 'Adresse email'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(edit_form.phone, null, {'label': 'Telephone', 'label_attr': {'class': 'col-md-2 control-label'}}) }}
                        <div class="col-md-10">
                            {{ form_widget(edit_form.phone, {'attr': {'class': 'form-control', 'placeholder' : 'Telephone'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.statut, null, {'label': 'Statut', 'label_attr': {'class': 'col-md-2 control-label'}}) }}
                        <div class="col-md-10">
                            {{ form_widget(edit_form.statut, {'attr': {'class': 'form-control', 'placeholder' : 'Statut'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.enabled, null, {'label': 'Activé', 'label_attr': {'class': 'col-md-2 control-label'}}) }}
                        <div class="col-md-10">
                            <div class="radio-list">
                                <label class="radio-inline">
                                    {{ form_widget(edit_form.enabled.0) }} {{ 'yes' |trans({}, 'bo_formlabel') }} </label>
                                <label class="radio-inline">
                                    {{ form_widget(edit_form.enabled.1) }} {{ 'no' |trans({}, 'bo_formlabel') }} </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="groupUser">
                        {{ form_label(edit_form.panelisteGroups, null, {'label': 'Groupes', 'label_attr': {'class': 'col-md-2 control-label'}}) }}
                        <div class="col-md-10">
                            {% for panelisteGroup in edit_form.panelisteGroups %}
                                <label class="radio">
                                    {{ form_widget(panelisteGroup) }} {{ panelisteGroup.vars.label }} </label>
                            {% endfor %}
                        </div>
                    </div>


                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-4">
                            <button class="btn green" type="submit">Enregistrer</button>
                            <a class="btn default" href="{{ path('admin_user_index') }}">Retour</a>
                        </div>
                    </div>
                </div>
            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}
