{% extends "base.html.twig" %}

{# TITLE #}
{% block title %}{% endblock %}

{# METADATA #}
{% block metas %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
{% endblock %}

{# ICONS #}
{% block icons %}
    <link rel="icon" type="image/png" href="{{ asset('frontend/images/splash/android-chrome-192x192_v2.png') }}" sizes="192x192">
    <link rel="apple-touch-icon" sizes="196x196" href="{{ asset('frontend/images/splash/apple-touch-icon-196x196_v2.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('frontend/images/splash/apple-touch-icon-180x180_v2.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('frontend/images/splash/apple-touch-icon-152x152_v2.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('frontend/images/splash/apple-touch-icon-144x144_v2.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('frontend/images/splash/apple-touch-icon-120x120_v2.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('frontend/images/splash/apple-touch-icon-114x114_v2.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('frontend/images/splash/apple-touch-icon-76x76_v2.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('frontend/images/splash/apple-touch-icon-72x72_v2.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('frontend/images/splash/apple-touch-icon-60x60_v2.png') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('frontend/images/splash/apple-touch-icon-57x57_v2.png') }}">
    <link rel="icon" type="image/png" href="{{ asset('frontend/images/splash/favicon-96x96_v2.png') }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ asset('frontend/images/splash/favicon-32x32_v2.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ asset('frontend/images/splash/favicon-16x16_v2.png') }}" sizes="16x16">
    <link rel="shortcut icon" href="{{ asset('frontend/images/splash/favicon_v2.ico') }}" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}

{# CSS #}
{% block stylesheets %}
    <link href="{{ asset('frontend/styles/style.css') }}"           rel="stylesheet" type="text/css">
    <link href="{{ asset('frontend/styles/menus.css') }}"           rel="stylesheet" type="text/css">
    <link href="{{ asset('frontend/styles/framework.css') }}"       rel="stylesheet" type="text/css">
    <link href="{{ asset('frontend/styles/font-awesome.css') }}"    rel="stylesheet" type="text/css">
    <link href="{{ asset('frontend/styles/animate.css') }}"         rel="stylesheet" type="text/css">
    <link href="{{ asset('frontend/styles/override.css') }}"        rel="stylesheet" type="text/css">
    <link href="{{ asset('frontend/styles/menu_layout.css') }}"           rel="stylesheet" type="text/css">
{% endblock %}

{# BODY #}
{% block content %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% include 'frontend/home/styles.home.html.twig' %}

    <style>
        .container {
            width: 90% !important;
        }
    </style>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="box-shadow: 0 0 20px rgba(0,0,0,.1); background-color: white; padding-bottom: 6px !important;">
        <div class="container">
            <a class="navbar-brand" href="{{ path('user_accueil_index') }}"><img  height="60px" src="{{ asset('frontend/logo/logo-syres.png') }}" alt="Syres"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="margin-left: auto">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav" style="margin-left: auto">
                    <li class="nav-item">
                        <a class="nav-link" id="navCSurv" href="{{ path('user_test_a_venirs_index') }}">{{ 'Test a venir' | upper }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navC" id="navCIns" href="{{ path('user_survey_tests') }}">{{'Mon test' | upper}} <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navC" id="navCC" href="{{ path('user_survey_enquete') }}">{{ 'Enquete' | upper }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navC" id="navCL" href="{{ path('app_logout') }}">{{ 'se déconnecter' | upper }}</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div id="" style="height: 20px; background-color: #2980b9">
    </div>

{% endblock %}

{# JAVASCRIPTS #}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
{% endblock %}
