<div class="wrap" id="menuPetit">
    <a class="a aTest" href="{{ path('user_survey_tests', {'id':'link.id'}) }}" title="Veuillez cliquer ici" style="padding-bottom: 0px; overflow: visible;background-color: rgba(255,255,255,.75); left: -23px;
">
        <div class="divVosTest" style="padding-top: 15%;">
            <p class="enqueteText pVosTest" style="margin-left: 10%">
                <strong class="strongVosTest" style="font-size: 25px; font-weight: normal">
                    MON</br>   TEST
                    {% if surveys_count[2] > 0 %}
                        <i class="insight-notification" style=" background: #2980b9;color: white; font-size: 19px; padding: 9px 16px; position: inherit">{{ surveys_count[2] }}</i>
                    {% endif %}
                </strong>
            </p>
        </div>
    </a>
    <a class="a aTAVenir" href="{{ path('user_test_a_venirs_index') }}" title="Veuillez cliquer ici"
       style="overflow: visible; left: 64.5%; background-color: rgba(255,255,255,.75);">
        <div style="color: #0E1112; font-size: 26px; padding-top: 15%; text-align: end; padding-right: 15%">
            <strong style="font-size: 25px; font-weight: normal">TESTS </br>
                À </br> VENIR</strong>
        </div>
    </a>
    <a class="a aArticle" href="{{ path('user_survey_enquete') }}" title="Veuillez cliquer ici"
       style="width: 49.5%;height: 50.5%; left: -23px">
        <div style="padding-top: 50%;
                font-size: 26px;
                color: #0a001f;
                padding-left: 10%;
                overflow: visible;
                background-color: rgba(255,255,255,.75);
            ">
            <strong style="font-size: 25px; text-align: center; font-weight: normal">
                ENQUETES
            </strong>
            {% if surveys_count[2] > 0 %}
            <i class="insight-notification"
               style="position: static; font-size: 19px;  padding: 6px;background: #2980b9; color: white; top: 32px; margin-left: 33%">
                {{ surveys_count[2] }}
            </i>
            {% endif %}
        </div>
    </a>
    <a class="a aEnquete" href="{{ path('user_fag') }}" title="Veuillez cliquer ici" style="background-color: rgb(255,255,255,.75);     top: 56.5%;
left: 64.5%;">
        <div style="font-size: 26px; padding-top: 60%; padding-left: 5%">
            <strong style="font-size: 25px; color: black; font-weight: normal">
            </strong>
            <p style="font-size: 40px; color: black">FAQ</p>

        </div>
    </a>
    <a class="a" href="#" title="Veuillez cliquer ici">
        <div style="text-align: center">
            <div style="padding-top: 60%; padding-left: 30%; background-color: rgba(255,255,255,.75)">
            </div>
        </div>
    </a>
</div>
