{% extends "frontend/_layout.html.twig" %}

{# CONTENT #}
{% block content %}
    {{ parent() }}


    <div class="header-clear-large"></div>


    <div class="content">
        <div class="container heading-style-5">
            <h4 class="heading-title inline-header">
                {{ 'MON TEST EN COURS'}}
            {% include 'frontend/header-title.html.twig' %}
            </h4>
            <div class="inline-button">
                <a href="{{ path('user_survey_closed_tests') }}">
                    {{ 'Tests achevés' }}
                </a>
                <a href="{#{ path('frontend_gamification_index') }#}">
                    {#{ 'Mes points') }#}
                </a>
            </div>
            <div style="z-index: -1">
                <i class="fa fa-align-left heading-icon" style="z-index: -1"></i>
            </div>
            <div class="line bg-black"></div>
        </div>

        {% for category in surveysListByCategory %}
            <div class="container">
                <h5>{{ category.details.name }}</h5>
                <div class="decoration"></div>

                {% for surveys in category.surveys %}
                    {% for survey in surveys %}
                        <a href="{{ path('user_survey_details', {'id' : survey.id}) }}" class="user-list-item">
                            <img src="{{ asset('frontend/images/tree.svg') }}" alt="img">
                            <strong>{{ survey.name }}</strong>
                            <em>
                                {% if survey.status == 0 %}
                                    {{ 'coming' }}
                                {% elseif survey.status == 1 %}
                                    {{ 'inprogress' |trans({}, 'survey') }}
                                {% elseif survey.status == 2 %}
                                    {{ 'focus' |trans({}, 'survey') }}
                                {% elseif survey.status == 3 %}
                                    {{ 'closed' |trans({}, 'survey') }}
                                {% else %}
                                    {{ survey.name }}
                                {% endif %}
                                - #{{ survey.idSurvey }}
                            </em>
                            <i class="fa fa-chevron-right"></i>
                        </a>
                        <div class="decoration"></div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% else %}
            <p class="center-text">
                {{ 'Aucun test en cours ' |trans({}) }}
            </p>
        {% endfor %}
    </div>
{% endblock %}
