{% extends 'Backend/_layout.html.twig' %}

{% block page_title %}
    <h3 class="page-title"> Enquêtes
        <small>édition d'une enquête</small>
    </h3>
{% endblock %}

{% block content %}
    {{ form_start(edit_form, {'attr' : {
        'class' : 'form-horizontal'
    }}) }}
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-red-sunglo bold uppercase">Edition</span>
                </div>
                <div class="actions">
                 {#   <button class="btn btn-circle btn-icon-only btn-default" id="delete-form-button">
                        <i class="icon-trash"></i>
                    </button>
                    #}
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="form-group">
                        {{ form_label(edit_form.visible, null, {'label': 'Visible', 'label_attr': {'class': 'col-md-2 control-label'}}) }}
                        <div class="col-md-10">
                            <div class="radio-list">
                                {% for visible in edit_form.visible %}
                                    <label class="radio-inline">
                                        {{ form_widget(visible) }} {{ visible.vars.label | trans({}, 'bo_formlabel') }}
                                    </label>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.status, null, {'label': 'Status', 'label_attr': {'class': 'col-md-2 control-label'}}) }}
                        <div class="col-md-10">
                            <div class="radio-list">
                                {% for status in edit_form.status %}
                                    <label class="radio-inline">
                                        {{ form_widget(status) }} {{ status.vars.label | trans({}, 'bo_formlabel')}}
                                    </label>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.idSurvey, null, {'label': 'internal_id' |trans({}, 'bo_formlabel'), 'label_attr': {'class': 'col-md-2 control-label'}}) }}
                        <div class="col-md-10">
                            {{ form_widget(edit_form.idSurvey, {'attr': {'class': 'form-control', 'placeholder' : 'ID Interne'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.name, null, {'label': 'name' |trans({}, 'bo_formlabel'), 'label_attr': {'class': 'col-md-2 control-label'}}) }}
                        <div class="col-md-10">
                            {{ form_widget(edit_form.name, {'attr': {'class': 'form-control', 'placeholder' : 'Nom'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.type, null, {'label': 'Type', 'label_attr': {'class': 'col-md-2 control-label'}}) }}
                        <div class="col-md-10">
                            {{ form_widget(edit_form.type, {'attr': {'class': 'form-control', 'placeholder' : 'Type'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.category, null, {'label': 'category' |trans({}, 'bo_formlabel'), 'label_attr': {'class': 'col-md-2 control-label'}}) }}
                        <div class="col-md-10">
                            {{ form_widget(edit_form.category, {'attr': {'class': 'form-control', 'placeholder' : 'Catégorie'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.panelisteGroup, null, {'label': 'access_group' |trans({}, 'bo_formlabel'), 'label_attr': {'class': 'col-md-2 control-label'}}) }}
                        <div class="col-md-10">
                            {{ form_widget(edit_form.panelisteGroup, {'attr': {'class': 'form-control', 'placeholder' : 'Groupe d\'accès'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.imageFile, null, {'label': 'Pdf' |trans({}, 'bo_formlabel'), 'label_attr': {'class': 'col-md-2 control-label'}}) }}
                        <div class="col-md-10">
                            {{ form_widget(edit_form.imageFile, {'attr': {'class': 'form-control', 'placeholder' : 'Pdf'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.description, null, {'label': 'Description', 'label_attr': {'class': 'col-md-2 control-label'}}) }}
                        <div class="col-md-10">
                            {{ form_widget(edit_form.description, {'attr': {'class': 'form-control', 'placeholder' : 'Description'}}) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-red-sunglo bold uppercase">Questionnaires</span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <div id="links-list" data-length="{{ edit_form.links | length }}" data-prototype="{% apply escape %}{{ include('Backend/Survey/_prototypes/link.html.twig', { 'link': edit_form.links.vars.prototype }) }}{% endapply %}">
                        {% for link in edit_form.links %}
                            {{ include('Backend/Survey/_prototypes/link.html.twig', { 'link': link }) }}
                        {% endfor %}

                    </div>

                    <div class="col-md-offset-2">
                        <button id="add-link" class="btn btn-default">Ajouter un questionnaire</button>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-4">
                            <button class="btn green" type="submit">Enregistrer</button>

                            {% if surveyType == 0 %}
                                <a class="btn default" href="{{ path('admin_survey_enquetes_index') }}">Retour</a>
                            {% elseif surveyType == 1 %}
                                <a class="btn default" href="{#{ path('admin__survey_pre_recrutements_index') }#}">Retour</a>
                            {% elseif surveyType == 2 %}
                                <a class="btn default" href="{{ path('admin_survey_tests_index') }}">Retour</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(edit_form) }}

    {{ form(delete_form, {'attr': {'id': 'delete-form'}}) }}
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function() {
            var linksList = $('#links-list');
            var linksLength = linksList.data('length');

            function updateDeleteButtons() {
                $(".delete-link").click(function() {
                    $(this).parentsUntil('.delete-parent').parent().remove();
                    return false;
                });
            } updateDeleteButtons();

            $('#add-link').click(function() {
                var html = linksList.data('prototype').replace(/__name__/g, linksLength);
                linksList.append(html);

                updateDeleteButtons();
                linksLength++;

                return false;
            });

            $('#delete-form-button').click(function() {
                $('#delete-form').submit();
                return false;
            });
        });
    </script>
{% endblock %}



